@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

*{
    box-sizing:border-box;
}

section{
    padding: 1.25rem;
}

footer{
    height: 100%;
}

a {
    text-decoration: none !important;
}

img {
    object-fit: cover;
}

img.img-ad{
    object-fit: cover;
    width: 20rem;
}

h1, .navbar-brand{
    font-family: 'Bad Script', cursive !important;
    font-weight: bolder !important;
}

/************Form**********/

label.required:after {
    content: "*";
}
